.projects-r-section{
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 65px 40px 70px;
  box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2);
  border-radius: 20px;
}
.portfolio-r-wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
@media screen and (min-width: 550px) {
  .portfolio-r-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .portfolio-r-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}